# Node modules
node_modules/

# Environment files
.env
.env.local

# Logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store

# Build files
dist/
build/

# IDE files
.vscode/
.idea/
*.swp

# Typescript
*.tsbuildinfo

# Coverage reports
coverage/
